<div class="container full-height flex-centered">
<h2 id="title" >Stupid Coaching</h2>
<p>Ask anything to your coach</p>
<form action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
